@font-face {
	font-family: "Frizon";
	src: url('./Frizon.ttf');
}

@font-face {
	font-family: "Morena";
	src: url('./Morena.otf');
}

@font-face {
	font-family: "Morena-Bold";
	src: url('./Morena-Bold.otf');
}

@font-face {
	font-family: "Morena-ExtraLight";
	src: url('./Morena-ExtraLight.otf');
}

@font-face {
	font-family: "Morena-Light";
	src: url('./Morena-Light.otf');
}

@font-face {
	font-family: "Morena-Semibold";
	src: url('./Morena-Semibold');
}

@font-face {
	font-family: "GuDianMingChaoTi";
	src: url('./GuDianMingChaoTi.otf');
}

@font-face {
	font-family: "Gravity";
	src: url('./Gravity.otf');
}

@font-face {
	font-family: "TitilliumWeb";
	src: url('./TitilliumWeb-Regular.ttf');
}

@font-face {
	font-family: "NotoSerifSC";
	src: url('./NotoSerifSC-Regular.otf');
}

@font-face {
	font-family: "Times";
	src: url('./Times.ttc');
}

@font-face {
	font-family: "Songti";
	src: url('./STSongti-SC-Regular.ttc');
}

@font-face {
	font-family: "HWMingChao";
	src: url('./HWMingChao.otf');
}