#home {
	.home_wrapper {
		position: relative;
		// width: 100%;
		// height: 100vh;
		// height: 600px;
		// background-color: $color-filter-black;
		// background-color: yellow;
	}
	
	.content {
		// border: solid 10px yellow;
		// filter: grayscale(50%);
		background-position: center;
		background-size: cover;
		// position: absolute;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-attachment: fixed;
		color: black;

		justify-content: space-between;
	}

	article {
		position: relative;
		width: 60%;
		height: 300px;
		// background: blue;
		margin: 30px;
		left: 5%;
		// all: initial;

		.border_small {
			position: absolute;
			z-index: 0;
			width: 30%;
			height: 70%;
			border-left: $card-border-basic;
			border-right: $card-border-basic;
			padding: 20px;
			background: $box-background;

			font-family: $font-en-header, $font-ch-title;
			font-size: $font-size-h1;
			font-weight: bold;
			text-align: justify;
			text-decoration: none;
			// word-break: break-all;
			hyphens: auto;
			color: black;
			transition: all 0.5s;

			&:hover {
				color: $color-main;
			}
		}
		.border_large {
			position: absolute;
			z-index: 10;
			width: 70%;
			height: 70%;
			border: solid 1px grey;
			padding: 20px;

			color: black;
			font-family: $font-en-regular, $font-ch-regular;
			// font-family: $font-ch-title;
			font-size: $font-size-post;
			word-break: break-all;

			background: $box-background-solid;
			border-radius: 20px;
			box-shadow: $box-shadow;
			transition: all 0.5s;

			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			.post_content {
				// background: blue;
				// position: absolute;
				width: 95%;
				height: 70%;
				border-bottom: solid 1px grey;
				// border: solid 1px blue;
				text-align: justify;
				padding: $card-padding;

				p {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					
					margin: 0;

					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 25px;

					-webkit-line-clamp: 5;
				}
			}
			.post_prop {
				width: 95%;
				height: 1px;
				// padding: 10px;
				padding-top: 15px;
				// background: blue;
			}

			&:hover {
				box-shadow: $box-shadow-hover-up;
				margin-top: -10px;
			}
		}
	}

	.button_more {
		position: relative;
		width: 100px;
		height: 40px;
		border: solid 1px $pretty-grey;
		color: $pretty-grey;
		border-radius: 50px;
		// background: blue;
		left: 50%;
		margin: 50px -50px 50px;

		cursor: pointer;
		transition: all 0.4s;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		p {
			font-family: $font-en-header;
			font-size: 18px;
		}

		&:hover {
			color: $color-main;
			border-color: $color-main;
		}
	}
}